<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand ms-5">
        <span>Search</span>
        <span class="ms-3">d_evs</span>
    </a>
    <form class="form-inline">
       <div class="d-inline-flex input-group">
        <span class="input-group-text"><img src="../../../assets/icons/Vector.svg"></span>
        <input type="search" class="form-control me-5" aria-label="Search" placeholder="Search" [formControl]="searchInput">
       </div>
    </form>
</nav>
