.input-group-text {
    background-color: #fff;
    border-right: none;
}

.btn-primary {
    background-color: #8C19D2;
    width: 176px ;
    border-color: #8C19D2;
    height: 48px;
}

.form-control {
    height: 48px;
    width: 80%;
    border-left: 0;
}
