.img-size {
    width: 48px;
    height: 48px;
}

.icon-size {
    width: 24px;
    height: auto;
}

.text-config {
    font-size: 20px;
    font-weight: 700;
}

.break-word {
    word-break: break-all
}

.user-detail-container {
    margin-top: 80px;
    background-color: white;
    height: auto;
}

.btn-primary {
    background-color: #8C19D2;
    border-color: #8C19D2;
    height: 48px;
}